body{
    font-family: 'Roboto', sans-serif;
}

.title-main{
    color: black;
}

.background-blue{
    background-color: blue;
    color: white;
}

.color-blue{
    color: blue;
}

.background-black{
    background-color: black;
    color: white;
}

.text-center{
    text-align: center;
}

li{
    text-decoration: underline;
}

.box{
    height: 40px;
    width: 100%;
}